/Auth/bin
/Auth/obj
/Auth/Log
/Auth/Properties
/Auth/appsettings.json

/StaffAPI/bin
/StaffAPI/obj
/StaffAPI/Log
/StaffAPI/Properties
/StaffAPI/appsettings.json

/Paygate/bin
/Paygate/obj

/SMSGetway/bin
/SMSGetway/obj

/EntityFramework.API/bin
/EntityFramework.API/obj

/LanguageAll/bin
/LanguageAll/obj

/Utils/bin
/Utils/obj

/UnitTestMobile/obj
/UnitTestMobile/bin

/.vs
/.git
