/Auth/bin
/StaffAPI/bin
/Paygate/bin
/SMSGetway/bin
/EntityFramework.API/bin
/Utils/bin
/LanguageAll/bin
/EntityFramework.API/obj
/Utils/obj
/LanguageAll/obj
/Auth/obj
/StaffAPI/obj
/Paygate/obj
/SMSGetway/obj
/.vs
/Auth/appsettings.json
/StaffAPI/Log
/StaffAPI/appsettings.json
/Auth/Log
/UnitTestMobile/obj
/UnitTestMobile/bin
